# Assignment 22

## date :- 24/02/2023

#### Q1. List any five functions of the pandas library with execution.

#### Answer:
Here are five commonly used functions in the Pandas library with examples:

read_csv(): This function is used to read a CSV file and create a DataFrame from its contents. Here's an example:

import pandas as pd

# Read a CSV file and create a DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(df.head())

dropna(): This function is used to remove missing or null values from a DataFrame. Here's an example:

In [1]:
import pandas as pd

# Create a DataFrame with missing values
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [None, 6, 7, 8]})

# Remove rows with missing values
df = df.dropna()

# Display the resulting DataFrame
print(df)

     A    B
1  2.0  6.0
3  4.0  8.0

groupby(): This function is used to group a DataFrame by one or more columns and perform aggregate functions on the groups. Here's an example:

In [2]:
import pandas as pd

# Create a DataFrame of sales data
df = pd.DataFrame({
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Region': ['North', 'North', 'South', 'South', 'East', 'East'],
    'Sales': [100, 200, 150, 250, 120, 180]
})

# Group the data by product and region, and calculate the sum of sales for each group
grouped = df.groupby(['Product', 'Region'])['Sales'].sum()

# Display the resulting DataFrame
print(grouped)

Product  Region
A        East      120
         North     100
         South     150
B        East      180
         North     200
         South     250
Name: Sales, dtype: int64

merge(): This function is used to merge two or more DataFrames based on a common column or index. Here's an example:

In [3]:
import pandas as pd

# Create two DataFrames to merge
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [2, 3, 4], 'C': [7, 8, 9]})

# Merge the two DataFrames on column A
merged = pd.merge(df1, df2, on='A')

# Display the resulting DataFrame
print(merged)

   A  B  C
0  2  5  7
1  3  6  8

pivot_table(): This function is used to create a pivot table from a DataFrame, which summarizes the data by one or more columns. Here's an example:

In [4]:
import pandas as pd

# Create a DataFrame of sales data
df = pd.DataFrame({
    'Product': ['A', 'A', 'B', 'B', 'A', 'A'],
    'Region': ['North', 'South', 'North', 'South', 'East', 'East'],
    'Sales': [100, 150, 200, 250, 120, 180]
})

# Create a pivot table of the sales data, summarized by product and region
pivot = pd.pivot_table(df, values='Sales', index='Product', columns='Region', aggfunc='sum')

# Display the resulting pivot table
print(pivot)

Region    East  North  South
Product
A        300.0  100.0  150.0
B          NaN  200.0  250.0

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

#### Answer:

In [19]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index that starts from 1 and increments by 2 for each row
    df.index= pd.RangeIndex(range(1, 2*len(df)+1, 2))
    
    return df

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df)

# Re-index the DataFrame using the function
df = reindex_dataframe(df)

# Print the resulting DataFrame
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

#### answer:

In [21]:
def sum_first_three_values(df):
    # Get the first three values in the 'Values' column
    first_three_values = df['Values'][:3]

    # Calculate the sum of the first three values
    sum_of_first_three_values = first_three_values.sum()

    # Print the sum to the console
    print("The sum of the first three values in the 'Values' column is:", sum_of_first_three_values)

# Create a sample DataFrame
import pandas as pd
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate the sum of the first three values
sum_first_three_values(df)

The sum of the first three values in the 'Values' column is: 60

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

#### Answer:

In [27]:
import pandas as pd

def add_word_count_column(df):
    # Split the 'Text' column into a list of words
    word_lists = df['Text'].str.split()

    # Count the number of words in each list
    word_counts = word_lists.apply(len)

    # Add the 'Word_Count' column to the DataFrame
    df['Word_Count'] = word_counts

    # Return the modified DataFrame
    return df

# Create a sample DataFrame
df = pd.DataFrame({'Text': ['My name is Sana Simran.', 'I love Data Science.']})

# Add the 'Word_Count' column using the function
df = add_word_count_column(df)

# Print the modified DataFrame
print(df)

                      Text  Word_Count
0  My name is Sana Simran.           5
1     I love Data Science.           4

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

#### Answer:
DataFrame.size and DataFrame.shape are both methods in Pandas that provide information about the dimensions of a DataFrame, but they return different values.

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.

DataFrame.shape returns a tuple that contains the number of rows and the number of columns in the DataFrame

In [28]:
#df here is the dataframe from above question
df.size

4

In [29]:
df.shape

(2, 2)

#### Q6. Which function of pandas do we use to read an excel file?

#### Answer : 
To read an Excel file in pandas, we use the read_excel() function. This function can read data from an Excel file and return a pandas DataFrame

####  Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. 

#### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

#### Answer:

In [31]:
def extract_username(df):
    # Split the 'Email' column by the '@' symbol and take the first part
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'bob.smith@example.com', 'sanasimrankhan88@gmail.com','zishanalam989@gmail.com']})
df = extract_username(df)
print(df)

                        Email          Username
0        john.doe@example.com          john.doe
1        jane.doe@example.com          jane.doe
2       bob.smith@example.com         bob.smith
3  sanasimrankhan88@gmail.com  sanasimrankhan88
4     zishanalam989@gmail.com     zishanalam989

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

#### For example, if df contains the following values:

    A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

#### Your function should select the following rows: A B C
1 8 2 7

4 9 1 2

#### The function should return a new DataFrame that contains only the selected rows.

#### Answer :

In [35]:
import pandas as pd

def select_rows(df):
    # Select rows where 'A' > 5 and 'B' < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
# Create a sample DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})
#print(df)

# Call the select_rows() function to select rows based on conditions on 'A' and 'B'
selected_df = select_rows(df)

# Print the resulting DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

#### Answer:

In [38]:
import pandas as pd

def calculate_statistics(df):
    # Calculate mean, median, and standard deviation of 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    # Print the calculated statistics
    print(f"Mean: {mean:.2f}")
    print(f"Median: {median:.2f}")
    print(f"Standard Deviation: {std_dev:.2f}")
    
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5,6,7,8,9,10]})

# Call the calculate_stats() function to calculate statistics for the 'Values' column
calculate_statistics(df)

Mean: 5.50
Median: 5.50
Standard Deviation: 3.03

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

#### Answer:

In [41]:
import numpy as np


def calculate_moving_average(df):
    # Set the 'Date' column as the DataFrame's index
    df.set_index('Date', inplace=True)
    
    # Calculate the moving average with a window of size 7
    ma = df.rolling(window=7).mean()
    
    # Rename the 'Sales' column to 'MovingAverage'
    ma.rename(columns={'Sales': 'MovingAverage'}, inplace=True)
    
    # Reset the index to turn the 'Date' column back into a regular column
    ma.reset_index(inplace=True)
    
    return ma

dates = pd.date_range('20220101', periods=10)
sales = np.random.randint(100, 1000, 10)

# Create the DataFrame
df = pd.DataFrame({'Date': dates, 'Sales': sales})

# Calling the function
calculate_moving_average(df)

        Date  MovingAverage
0 2022-01-01            NaN
1 2022-01-02            NaN
2 2022-01-03            NaN
3 2022-01-04            NaN
4 2022-01-05            NaN
5 2022-01-06            NaN
6 2022-01-07     838.571429
7 2022-01-08     724.000000
8 2022-01-09     749.428571
9 2022-01-10     730.000000

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

#### For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

#### Your function should create the following DataFrame:

    Date Weekday
    
0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

#### The function should return the modified DataFrame.

#### Answer :

In [44]:
# Create a sample DataFrame
dates = pd.date_range('2022-01-01', periods=7)
df = pd.DataFrame({'Date': dates})
print(df)
# Create the 'Weekday' column
df['Weekday'] = df['Date'].dt.day_name()

print(df)

        Date
0 2022-01-01
1 2022-01-02
2 2022-01-03
3 2022-01-04
4 2022-01-05
5 2022-01-06
6 2022-01-07
        Date    Weekday
0 2022-01-01   Saturday
1 2022-01-02     Sunday
2 2022-01-03     Monday
3 2022-01-04    Tuesday
4 2022-01-05  Wednesday
5 2022-01-06   Thursday
6 2022-01-07     Friday

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

#### Answer:

In [47]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert the 'Date' column to a pandas datetime object
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Filter rows where the date is between '2023-01-01' and '2023-01-31'
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    filtered_df = df.loc[mask]
    
    return filtered_df

# Create a sample DataFrame
dates = pd.date_range('2022-11-11', periods=100)
df = pd.DataFrame({'Date': dates})
#print(df)

filtered_df = select_rows_between_dates(df)
print(filtered_df)

         Date
51 2023-01-01
52 2023-01-02
53 2023-01-03
54 2023-01-04
55 2023-01-05
56 2023-01-06
57 2023-01-07
58 2023-01-08
59 2023-01-09
60 2023-01-10
61 2023-01-11
62 2023-01-12
63 2023-01-13
64 2023-01-14
65 2023-01-15
66 2023-01-16
67 2023-01-17
68 2023-01-18
69 2023-01-19
70 2023-01-20
71 2023-01-21
72 2023-01-22
73 2023-01-23
74 2023-01-24
75 2023-01-25
76 2023-01-26
77 2023-01-27
78 2023-01-28
79 2023-01-29
80 2023-01-30
81 2023-01-31

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

#### Answer:
The first and foremost library that needs to be imported to use the basic functions of pandas is pandas itself.
Pandas is an open-source data manipulation library for Python that provides data structures for efficiently storing and manipulating large datasets. It is built on top of NumPy, another popular Python library for numerical computing, and is often used in conjunction with other libraries such as Matplotlib and Scikit-learn for data analysis and machine learning tasks.

Pandas provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object that can hold any data type, while a DataFrame is a two-dimensional table-like structure with columns of potentially different data types. Pandas also provides many functions for reading and writing data in different formats, cleaning and transforming data, selecting and filtering data, and performing various statistical and mathematical operations on data.

Overall, pandas is a powerful and flexible library for data analysis and manipulation that is widely used in both industry and academia.