# Assignment 23

## Date :- 25/02/2023

#### Consider following code to answer further questions:

In [9]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
# Answer:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### Answer:
loc and iloc are both indexing methods in pandas.DataFrame that allow you to access specific rows and columns of a DataFrame. The main difference between these two methods is the way they handle the indices.

loc uses labels or index names to access rows or columns. For example, you can use loc to access the rows and columns with specific labels or index names.

iloc, on the other hand, uses integer positions to access rows or columns. For example, you can use iloc to access the rows and columns with specific integer positions. 

In summary, loc uses labels or index names to access rows or columns, while iloc uses integer positions.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

#### Did you observe any difference in both the outputs? If so then explain it.

#### Answer:

In [10]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [11]:
reindex = [3,0,1,2]
new_df= df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [12]:
print(new_df.loc[2])  
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference between the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc[2] returns the row with the label '2' in the new DataFrame, which corresponds to the original row with the label '1' in the original DataFrame. This is because the list of indices used to reindex the DataFrame, [3, 0, 1, 2], mapped the original row with label '1' to the new row with label '2'.

On the other hand, new_df.iloc[2] returns the third row of the new DataFrame, which corresponds to the original row with integer position 1 in the original DataFrame. This is because the list of indices used to reindex the DataFrame, [3, 0, 1, 2], mapped the original row with integer position 1 to the new row with integer position 2.

In summary, the difference between loc and iloc is that loc uses labels or index names to access rows or columns, while iloc uses integer positions. The use of labels or integer positions can result in different outputs, especially when the DataFrame is reindexed.

#### Consider the below code to answer further questions:

In [13]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.145392  0.126018  0.157178  0.350315  0.162188  0.420154
2  0.826328  0.115181  0.337062  0.262773  0.004236  0.840963
3  0.838662  0.660047  0.191284  0.170950  0.385497  0.035670
4  0.951052  0.523678  0.368214  0.702667  0.951869  0.672056
5  0.230936  0.285796  0.840212  0.763070  0.135363  0.674323
6  0.513126  0.881615  0.547085  0.764912  0.286548  0.699166

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#### (i) mean of each and every column present in the dataframe.
#### (ii) standard deviation of column, ‘column_2’

In [22]:
# calculate the mean of each column
mean_df = df1.mean()

# display the mean of each column
print(mean_df)

# displat the dtandard deviation of column 2
print ("The standard deviation of column 2 is :")
print(df1['column_2'].std())

column_1    0.584249
column_2    0.432056
column_3    0.406839
column_4    0.502448
column_5    0.320950
column_6    0.557055
dtype: float64
The standard deviation of column 2 is :
0.3091727177002081

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find themean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [24]:
df.loc[1, 'column_2'] = 'string'

In [26]:
print(df1['column_2'].mean())

TypeError: Could not convert 0.126017786922613230.115181272313667150.66004725920237880.5236776436038480.28579560956527970.8816149219242344 to numeric

This error occurs because the string value cannot be converted to a float, which is the data type of the other values in 'column_2'.

This error occurs because pandas cannot convert the string values to float values, which are required for calculating the mean.

To avoid this error, you need to make sure that the column you are calculating the mean for contains numerical data. If the column contains a mix of numerical and non-numerical data, you can use the pd.to_numeric() function to convert the data to numerical values and replace any non-numerical values with NaN (Not a Number).

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

#### Answer:
In pandas, a window function is used to perform calculations on a sliding window of data in a DataFrame. A window function applies a function to a sliding window of data defined by a specified window size or time period. It allows us to perform rolling or expanding calculations on a DataFrame, which can be useful in time series analysis, data smoothing, and feature engineering.

There are several types of window functions in pandas:

1. Rolling Window Functions: These functions operate on a fixed-size window of data and produce a rolling calculation. Common rolling window functions include mean, median, sum, min, and max.

2. Expanding Window Functions: These functions operate on a cumulative window of data and produce a calculation that includes all previous data. Common expanding window functions include cumulative sum, cumulative product, and exponential moving average.

3. Exponential Weighted Functions: These functions apply a weight to each data point based on its distance from the current point. Common exponential weighted functions include exponential moving average and Holt-Winters smoothing.

4. Aggregation Functions: These functions group data by a specified time period and apply an aggregation function to each group. Common aggregation functions include mean, median, sum, and count.

5. Rolling and Expanding Window Apply Functions: These functions apply a custom function to each rolling or expanding window of data. This allows for more flexibility in the types of calculations that can be performed.

Overall, window functions in pandas are a powerful tool for analyzing and transforming data over time, and can be used for a wide range of tasks including data smoothing, feature engineering, and time series forecasting.

#### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [27]:
import datetime

# get the current date and time
now = datetime.datetime.now()

# extract the current month and year
current_month_year = now.strftime("%B %Y")

# print the current month and year
print("Current month and year:", current_month_year)

Current month and year: March 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [29]:
import pandas as pd

# prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the time delta between the dates
delta = date2 - date1

# extract the number of days, hours, and minutes from the time delta
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60

# display the result
print("The difference between the dates is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2023-03-06
Enter the second date (YYYY-MM-DD): 1999-12-28
The difference between the dates is:
-8469 days, 0 hours, and 0 minutes.

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [7]:
import pandas as pd

# prompt the user to enter the file path and column name
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")

# read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated list): ")
category_order = [cat.strip() for cat in category_order.split(",")]

# convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# sort the DataFrame by the specified column
df = df.sort_values(column_name)

# display the sorted data
print(df)

Enter the file path: C://Users//SANAS//Downloads//Python DS//Pandas//Pandas//Assignment-1//Iris.csv
Enter the column name: Species
Enter the category order (comma-separated list): 1,2,3
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2     NaN
1      2            4.9           3.0            1.4           0.2     NaN
2      3            4.7           3.2            1.3           0.2     NaN
3      4            4.6           3.1            1.5           0.2     NaN
4      5            5.0           3.6            1.4           0.2     NaN
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3     NaN
146  147            6.3           2.5            5.0           1.9     NaN
147  148            6.5           3.0            5.2           2.0     NaN
148  149            6.2           3.4            5.4           2.3     NaN
149  150            5.9           3.0            5.1           1.8     NaN

[150 rows x 6 columns]

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# prompt the user to enter the file path
file_path = input("Enter the file path: ")

# read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# group the data by product category and date, and sum the sales
sales_by_category = df.groupby(['Product Category', 'Date'])['Sales'].sum().unstack()

# plot the stacked bar chart
ax = sales_by_category.plot(kind='bar', stacked=True)

# set the axis labels and title
ax.set_xlabel('Date')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category')

# display the chart
plt.show()

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the following:

I Prompt the user to enter the file path of the CSV file containing the student dataR

I Read the CSV file into a Pandas DataFrameR

I Calculate the mean, median, and mode of the test scores using Pandas toolsR

I Display the mean, median, and mode in a table.

#### Assume the CSV file contains the following columns.

I Student ID: The ID of the student

I Test Score: The score of the student's test.

#### Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+

| Statistic | Value |

+-----------+--------+

| Mean | 79.6 |

| Median | 82 |

| Mode | 85, 90 |

+-----------+--------+



Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [8]:
import pandas as pd

# prompt the user to enter the file path
file_path = input("Enter the file path: ")

# read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()[0]

# create a DataFrame to display the results
result_df = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                          'Test Score': [mean_score, median_score, mode_score]})

# display the results
print(result_df)

Enter the file path: C://Users//SANAS//Downloads//pw skills assignment1.csv
  Statistic  Test Score
0      Mean        58.3
1    Median        60.0
2      Mode        23.0