#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Answer:
A database is an organized collection of data that can be accessed, managed, and updated easily. It provides a structured way of storing and retrieving information.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases that differ in their data storage models and query languages.

SQL databases are relational databases that store data in tables and use a standardized language called SQL to access and manage the data. SQL databases are based on the concept of tables that are linked together by relationships, allowing for complex queries and data analysis. Some popular examples of SQL databases are MySQL, Oracle, and PostgreSQL.

On the other hand, NoSQL databases use a non-tabular format to store data, making them more flexible and scalable. NoSQL databases can store data in different formats, including key-value stores, document-oriented databases, and graph databases. NoSQL databases do not require a fixed schema, which allows for easier scalability and faster processing of data. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Answer:
DDL stands for Data Definition Language and is a set of SQL statements that are used to create, modify, and delete database objects such as tables, indexes, and views.

The following are the commonly used DDL statements:

CREATE - The CREATE statement is used to create a new database object, such as a table, view, or index. For example, the following SQL statement creates a new table named "employees" with four columns: id, name, age, and salary.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    salary DECIMAL(10,2)
);

DROP - The DROP statement is used to delete a database object, such as a table, view, or index. For example, the following SQL statement drops the "employees" table:

DROP TABLE employees;

ALTER - The ALTER statement is used to modify the structure of an existing database object. For example, the following SQL statement adds a new column named "email" to the "employees" table:

ALTER TABLE employees ADD COLUMN email VARCHAR(50);

TRUNCATE - The TRUNCATE statement is used to remove all the data from a table while keeping the structure intact. For example, the following SQL statement removes all the data from the "employees" table:

TRUNCATE TABLE employees;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Answer:
DML stands for Data Manipulation Language and is a set of SQL statements that are used to manipulate data within the database.

The following are the commonly used DML statements:

INSERT - The INSERT statement is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "employees" table:

INSERT INTO employees (id, name, age, salary) VALUES (1, 'John', 30, 50000.00);

UPDATE - The UPDATE statement is used to modify existing data in a table. For example, the following SQL statement updates the salary of the employee with an ID of 1:

UPDATE employees SET salary = 55000.00 WHERE id = 1;

DELETE - The DELETE statement is used to delete existing data from a table. For example, the following SQL statement deletes the employee with an ID of 1 from the "employees" table:

DELETE FROM employees WHERE id = 1;

#### Q4. What is DQL? Explain SELECT with an example.

#### Answer:
DQL stands for Data Query Language and is a subset of SQL that is used to retrieve data from the database. The most commonly used DQL statement is SELECT.

The SELECT statement is used to query data from one or more tables in the database. It allows you to specify the columns you want to retrieve, the table or tables you want to query, and the conditions that the data must meet.

Here is an example of a SELECT statement:

SELECT id, name, age, salary
FROM employees
WHERE age > 25
ORDER BY salary DESC;

This SELECT statement retrieves data from the "employees" table and specifies that only the "id", "name", "age", and "salary" columns should be returned. It also specifies that only rows where the "age" column is greater than 25 should be included. Finally, it orders the results by the "salary" column in descending order.

The result set returned by this SELECT statement would be a table containing the columns "id", "name", "age", and "salary" for all employees who are over 25 years old, ordered by salary in descending order.

#### Q5. Explain Primary Key and Foreign Key.

#### Answer:
In database design, a primary key and a foreign key are used to establish relationships between two or more tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. It must be unique and not null for each row in the table. A primary key can be a single column or a combination of columns. It is used to ensure the integrity of the data and to provide a way to reference specific rows in a table from other tables.

For example, in a table of employees, the primary key may be the employee ID column. This ensures that each employee in the table has a unique ID, and that ID can be used to reference specific employees from other tables.

A foreign key, on the other hand, is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between two tables and ensures the referential integrity of the data. A foreign key can be used to enforce business rules or to create relationships between tables.

For example, in a table of orders, a foreign key may be the customer ID column. This column would reference the primary key of the customers table, ensuring that each order is associated with a specific customer.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Answer:
To connect MySQL to Python, you need to install the mysql-connector-python package. You can install it using pip by running the following command in the terminal:

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\sanas\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32
Note: you may need to restart the kernel to use updated packages.

Once installed, you can connect to MySQL using the following Python code:

import mysql.connector

# Establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for result in results:
  print(result)

In this code, we first import the mysql.connector module. We then establish a connection to the MySQL database by providing the host, user, password, and database details. Once the connection is established, we create a cursor object using the cursor() method.

The cursor object is used to execute SQL queries and fetch the results. The execute() method is used to execute the SQL query, and the fetchall() method is used to fetch all the rows of the result set. The execute() method takes an SQL query as its argument.

Finally, we loop through the results and print them out.

In summary, the cursor() method is used to create a cursor object, and the execute() method is used to execute SQL queries. Together, they allow you to interact with the database using Python.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

#### Answer:
In an SQL query, the order of execution of clauses is as follows:

FROM clause: The FROM clause specifies the tables from which data is retrieved.

JOIN clause: If multiple tables are specified in the FROM clause, the JOIN clause is used to join the tables based on a common column.

WHERE clause: The WHERE clause filters the data based on a specified condition.

GROUP BY clause: The GROUP BY clause groups the data based on a specified column or set of columns.

HAVING clause: The HAVING clause filters the grouped data based on a specified condition.

SELECT clause: The SELECT clause selects the columns to be displayed in the output.

ORDER BY clause: The ORDER BY clause sorts the data in ascending or descending order based on a specified column or set of columns.

LIMIT clause: The LIMIT clause limits the number of rows returned in the output.